---
import SiteLayout from '../layouts/SiteLayout.astro';

const description = 'Examples now live on docs.wimaengine.org/examples.';
---

<SiteLayout
	title="Examples"
	description={description}
	noindex={true}
	refreshTo="https://docs.wimaengine.org/examples/"
	canonicalHref="https://docs.wimaengine.org/examples/"
>
	<div class="wima-page">
		<section class="wima-panel">
			<div class="wima-panel__heading">
				<p class="wima-kicker">Redirecting</p>
				<h1 class="wima-hero__title">Examples moved to the docs site.</h1>
				<p class="wima-hero__lede">
					You’ll be redirected to the examples section on docs.wimaengine.org.
				</p>
			</div>

			<div class="wima-link-row">
				<a class="wima-button wima-button--primary" href="https://docs.wimaengine.org/examples/">
					Open docs examples
				</a>
				<a class="wima-button" href="/">Back home</a>
			</div>
		</section>
	</div>
</SiteLayout>
